
<article class="article-wrapper">   
    <section class="nav-sidebar">
        sidebar nav --> for selection of listed ico's, coins
        <span><a href="/token/t">// Add token</a></span>
        - view ico
        - add new ico

        {{#each tokenData}}
            <p>
                {{!-- <img src="{{this.imageUrl}}" alt="logo">  --}}
                <a href="/token/t/{{this.name}}">{{this.name}}</a>
                <span>({{this.popularity.count}})</span>
            </p>
        {{/each}}
    </section>

    <section class="main-content"> 
        main content
        - view 
            - view limit
                - most recent 10 (default view)
                - pagination ( next 10 )
            - view content
                - name of coin, ico
                - image of coin / token ico
                - open/closed ico
                - description of technology
                - current value
        - view all news udpates from coin

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Add Date</th>
                    <th>Logo</th>
                    <th>Token Name</th>
                    <th>Added By</th>
                    <th>Popular Votes</th>
                    <th>Vote</th>
                </tr>
            </thead>
            <tbody>
                {{#each tokenData}} 
                <tr>
                    <td>{{@index }}</td>
                    <td>{{#formatDate this.createdAt}} {{ this }} {{/formatDate}} </td>
                    <td>{{this.imageUrl }}</td>
                    <td>{{this.name }}</td>
                    <td>{{this.addedBy }}</td>
                    <td>{{this.popularity.count }}</td>
                    <td>
                        <a href="/token/t/{{this._id}}/voteup">up</a>
                        <a href="/token/t/{{this._id}}/votedown">down</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </section>
</article>