<div class="container">

    <div class="row">

        {{#if isNotEdit}}
            <h3>{{tokenData.name}} 
                | Details \\ 
                <form action="/token/t/{{tokenData._id}}/delete?_method=DELETE" method="POST">
                
                    <small><a class="btn btn-link" href="/token/t/{{tokenData._id}}/edit">Edit</a></small>
                    <small><button class="btn btn-link" type="submit">Delete</button></small>
                </form>
            </h3>
    </div>
    <div class="row">
        <div class="list-group">
            <small class="col col-md-4 list-group-item ">Added by: {{tokenData.addedBy}} </small>
            <small class="col col-md-4 list-group-item ">{{tokenData.createdAt}} </small>
            <small class="col col-md-4 list-group-item ">Last updated {{tokenData.updatedAt}}</small>   

        </div>
    </div>
     <div class="row">
        <dl class="col-md-12">
            <dt>Token name: 
                <span>{{tokenData.name}}</span>
                <span>Popularity ({{tokenData.popularity.count}}) </span>
            </dt>

            <dt>Votes: 
                <span>Down votes{{tokenData.popularity.downCount}}</span>
                <span>Up votes ({{tokenData.popularity.count}}) </span>
                <span>Total votes 
                    (
                        {{#tallyVotes tokenData.popularity}}
                            {{this}}
                        {{/tallyVotes}}
                    ) 
                </span>
            </dt>

                    <dt>Image Url:
                        <span><img src="{{tokenData.imageUrl}}" alt="Token image"></span>
                    </dt>

                    <dt>Token origin:
                        <span>{{tokenData.originDate}}</span>
                    </dt>

                    <dt>Token description
                        <span>{{tokenData.description}}</span>
                    </dt>
                </dl>
            </div>
    </div>
            <table>
                <thead>
                    <tr>
                        <th>voted by</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tokenData.popularity.votes}}
                        <tr>
                            <td> {{this}} </td>                          
                        </tr>
                    {{/each}}
                </tbody>
            </table>    

            {{else}} 

            <div class="form-container">
                <form action="/token/t/{{tokenData._id}}/edit?_method=PUT" method="POST">
                    <h3>{{tokenData.name}} | Edit details</h3>
                    <div class="token-data">
                        <div class="token-name">
                            <label for="name">Token Name</label>
                            <input type="text" name="name" id="name" value='{{tokenData.name}}'>
                        </div>
                        <div class="token-data">
                            <label for="imageUrl">Image Url</label>
                            <input type="text" name="imageUrl" id="imageUrl" value='{{tokenData.imageUrl}}'>
                        </div>
                        <div class="token-data">
                            <label for="originDate">Origin Date</label>
                            <input type="text" name="originDate" id="originDate" value='{{tokenData.originDate}}'>
                        </div>
                        <div class="token-data">
                            <label for="description">Description</label>
                            <textarea name="description" 
                                        class="description" 
                                        id="description" 
                                        cols="30" rows="10">{{tokenData.description}}
                            </textarea>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>

        {{/if}}

        </div>
    </div>

</div>


